<%- include('layout/adminpage_header') %>

  <div class="container mx-auto bg-white p-6 rounded-lg shadow-lg w-full ml-2 mr-2">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Manage Products</h1>
    <p class="text-gray-600 mb-10">Create, Edit, and Organize Products for Your E-commerce Store</p>

    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold">Product List</h2>
      <button class="bg-blue-500 text-white px-4 py-2 rounded-lg">Filter</button>
    </div>

    <!-- Orders Table -->
    <table class="min-w-full bg-white border border-gray-200">
      <thead>
        <tr class="bg-blue-600 text-white text-sm uppercase text-left">
          <th class="py-3 px-4">Image</th>
          <th class="py-3 px-4">Product Name</th>
          <th class="py-3 px-4">Price ($)</th>
          <th class="py-3 px-4">Discount (%)</th>
          <th class="py-3 px-4">Stock Status</th>
          <th class="py-3 px-4">Status</th>
          <th class="py-3 px-4">Actions</th>
        </tr>
      </thead>

      
        <% products.forEach((product) => { %> <!-- Use 'products' (lowercase) to loop -->
         <tbody>
           <tr class="border-b text-sm"> <!-- Optional: Add a bottom border to each row -->
            <td class="py-2 px-4">
              <img src="<%= product.product_image.length > 0 ? product.product_image[0] : 'fallback.jpg' %>" 
                   alt="Product Image" 
                   class="w-11 h-16 object-fill">
          </td>
            <td class="py-2 px-4">
              <%= product.product_name %> <!-- Display product name -->
            </td>
            <td class="py-2 px-4">
              <%= product.price %> <!-- Display price -->
            </td> 
            <td class="py-2 px-4">
              <%= product.discount %> <!-- Display discount -->
            </td>
            <td class="py-2 px-4">
              <%= product.stock_status %> <!-- Display stock status -->
            </td>
            <td class="py-2 px-4">
              <%= product.status %> <!-- Display status -->
            </td>

            <td class="py-2 px-4"> 
              <%if(product.status!=='active'){%>
                <button class="text-white bg-green-500 p-1 w-24 rounded-sm " onclick="window.location.href='/blockproduct/<%= product._id %>'">Unblock</button>
                <%}else{%>
                  <button class="text-white bg-red-500 p-1 w-24  rounded-sm" onclick="window.location.href='/unblockproduct/<%= product._id %>'">Block</button>
                  <%}%>
              <button onclick="window.location.href='/view_product_details/<%= product._id %>'"
                class="bg-blue-500 text-white px-4 py-2 rounded ml-4">View</button>
            </td>
          </tr>
        </tbody>
        <% }) %>
      
      

          <!-- Add more products as needed -->






    </table>
    <%- include('layout/admin_footer') %>
  </div>